<app-spinner *ngIf="loadingTracker"></app-spinner>

<form [formGroup]="form">
  <ion-grid>
    <ion-row>
      <ion-col>Qual o pet?</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-radio-group #radioTypeAnimal formControlName="type" (ionChange)="changeTypeAnimal($event)">
          <div class="radio-container">
            <ion-item id="radio-dog">
              <ion-label color="light">Cachorro</ion-label>
              <ion-radio name="radio-dog" slot="start" value="dog" checked></ion-radio>
            </ion-item>
            <ion-item id="radio-cat">
              <ion-label color="light">Gato</ion-label>
              <ion-radio name="radio-cat" id="radio-cat" slot="start" value="cat"></ion-radio>
            </ion-item>
          </div>
        </ion-radio-group>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Qual o sexo? </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-radio-group formControlName="sex" (ionChange)="changeTypeSex($event)">
          <div class="radio-container">
            <ion-item id="radio-sex-male">
              <ion-label color="light">Macho</ion-label>
              <ion-radio name="radio-sex-male" slot="start" value="male"></ion-radio>
            </ion-item>
            <ion-item id="radio-sex-female">
              <ion-label color="light">Fêmea</ion-label>
              <ion-radio name="radio-sex-female" id="radio-cat" slot="start" value="female">
              </ion-radio>
            </ion-item>
          </div>
        </ion-radio-group>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>É castrado? </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-radio-group formControlName="castrated"  (ionChange)="changeTypeCastrado($event)">
          <div class="radio-container">
            <ion-item id="radio-castrado-true">
              <ion-label color="light">Sim</ion-label>
              <ion-radio name="radio-castrado-true" slot="start" value="true"></ion-radio>
            </ion-item>
            <ion-item id="radio-castrado-false">
              <ion-label color="light">Não</ion-label>
              <ion-radio name="radio-castrado-false" id="radio-cat" slot="start" value="false">
              </ion-radio>
            </ion-item>
          </div>
        </ion-radio-group>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>O pet tem nome?</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input class="input-blank" formControlName="name" placeholder="Sem nome" class="input-blank" required></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Qual a raça?</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input class="input-blank" formControlName="breed" placeholder="Desconhecida" required></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <!-- <ion-input class="input-blank" type="file"></ion-input> -->
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button type="submit" expand="block" (click)="save()" [disabled]="form.invalid"> Salvar </ion-button>

  <ion-button color="danger" *ngIf="showDeleteButton" (click)="remove()" type="submit" expand="block">
    Excluir
  </ion-button>
</form>