ion-content{
    --background: var(--ion-color-primary);
}

.header-page {
    display: flex;
    min-height: var(--height-header);
    align-items: center;
    position: fixed;
    background-color: var(--ion-color-primary);

    ion-title,
    ion-menu-button {
        color: var(--ion-color-primary-contrast);
    }
}

.content {
    margin-top: calc(var(--height-header) + 1rem);
}
